# Copie este arquivo para .env e preencha apenas no ambiente do backend.
SUPABASE_URL=https://vtrprknnluhvuratgoii.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0cnBya25ubHVodnVyYXRnb2lpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODUzMzk4NywiZXhwIjoyMTA0MTA5OTg3fQ.Ov6s4gG3xIwPVt1Cg2EPLv1rI4JwAT-uu6bDoyTSpbs
